<div class="header">
  <h3 class="container" id="mainID">
    <div class="col-md-12">
    <span>Kavyashree</span><br><span class="h4">FrontEnd Developer</span> 



    <nav class="about pull-right h4">
      <ul class="list-inline">
        <li class="list-inline-item"><a>About</a></li>
        <li class="list-inline-item"><a>Projects</a></li>
        <li class="list-inline-item"><a>Contact</a></li>
      </ul>
    </nav>
    </div>
  </h3>
  <div class="progress-container">
    <div class="progress-bar" id="myBar"></div>
  </div>  
</div>

<div class="content content-wrapper">
 

  <section id="aboutMe">
    <div class="inner-section-border">
    <h4 class="section-label"> <i class="glyphicon glyphicon-user"></i> ABOUT ME</h4>
    <article class="section-body">
      Some content about me. Making this section lil big so that the appearance looks more realistic. Have no content as of now. Yet to think about the actual content since I have looots of things about me that can go here. 
      Some content about me. Making this section lil big so that the appearance looks more realistic. Have no content as of now. Yet to think about the actual content since I have looots of things about me that can go here. 
      Some content about me. Making this section lil big so that the appearance looks more realistic. Have no content as of now. Yet to think about the actual content since I have looots of things about me that can go here. 
      Some content about me. Making this section lil big so that the appearance looks more realistic. Have no content as of now. Yet to think about the actual content since I have looots of things about me that can go here. 
      Some content about me. Making this section lil big so that the appearance looks more realistic. Have no content as of now. Yet to think about the actual content since I have looots of things about me that can go here. 
      Some content about me. Making this section lil big so that the appearance looks more realistic. Have no content as of now. Yet to think about the actual content since I have looots of things about me that can go here. 
      Some content about me. Making this section lil big so that the appearance looks more realistic. Have no content as of now. Yet to think about the actual content since I have looots of things about me that can go here. 
      </article>
    </div>
  </section>


  <section id="projects">
    <div class="inner-section-border">
      <h4 class="section-label"> <i class="glyphicon glyphicon-star-empty"></i> MY WORK</h4>
    Lists the projects i have wrked on and links to it  Lists the projects i have wrked on and links to it  
    Lists the projects i have wrked on and links to it  Lists the projects i have wrked on and links to it  Lists the projects i have wrked on and links to it  Lists the projects i have wrked on and links to it  Lists the projects i have wrked on and links to it  Lists the projects i have wrked on and links to it  Lists the projects i have wrked on and links to it  Lists the projects i have wrked on and links to it  Lists the projects i have wrked on and links to it  Lists the projects i have wrked on and links to it  Lists the projects i have wrked on and links to it  Lists the projects i have wrked on and links to it  Lists the projects i have wrked on and links to it  Lists the projects i have wrked on and links to it  
    Lists the projects i have wrked on and links to it 
  </div>
</section>


  <section id="contactMe">
    <div class="inner-section-border">
      <h4 class="section-label"> <i class="glyphicon glyphicon-comment"></i> CONTACT ME</h4>
    A form to email me A form to email me A form to email me A form to email me A form to email me A form 
    to email me A form to email me A form to email me A form to email me A form to email me A form to email me A form to email me A form to email me A form to email me A form to email me A form to email me A form to email me A form to email me A form to email me A form to email me A form to email me A form to email me A form to email me A form to email me A 
    form to email me A form to email me A form to email me 
  </div>
</section>

















  





</div>